Repository nathantheinventor/ptz-control-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.3.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    # We do not use pre-commit/mirrors-mypy,
    # as it comes with opinionated defaults
    # (like --ignore-missing-imports)
    # and is difficult to configure to run
    # with the dependencies correctly installed.
    hooks:
      - id: mypy
        name: mypy
        entry: 'mypy'
        language: python
        # use your preferred Python version
        language_version: python3.11
        types: [python]
        # use require_serial so that script
        # is only called once per commit
        require_serial: true
        # Print the number of files as a sanity-check
        verbose: true
      - id: typecheck
        name: typecheck
        entry: "bash -c 'cd frontend && npx tsc --noEmit'"
        language: node
        exclude: ^frontend/node_modules/
        files: ^frontend/.*\.tsx?$
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        args: [-c, frontend/.eslintrc.cjs, --fix]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--config, frontend/package.json, --write]

feat: Hide camera settings by default on presets page
  frontend/src/App.tsx
  frontend/src/components/Expandable.tsx
  frontend/src/pages/PresetEditor.tsx
Due: typecheck

feat: Limit control updates to one at a time
  frontend/src/components/ControlsEditor.tsx
Due: typecheck

feat: Add command to use autofocus to get precise position
  frontend/src/components/Button.tsx
  frontend/src/components/ControlsEditor.tsx
  ptz_app/functions/camera.py
  ptz_app/urls.py
  ptz_app/views/__init__.py
  ptz_app/views/cameras.py
Due: mypy, typecheck

0.2.0
  pyproject.toml
Due: none

ci: Fix CI file
  .github/workflows/workflow.yml
Due: none

fix: Wait for autofocus to complete
  ptz_app/functions/camera.py
Due: mypy

fix: Return autofocus response in dict
  frontend/src/components/ControlsEditor.tsx
  ptz_app/views/cameras.py
Due: mypy, typecheck

fix: Fix bug in request queue
  frontend/src/components/ControlsEditor.tsx
Due: typecheck

0.3.0
  pyproject.toml
Due: none

refactor: Use new socket for each command
  ptz_app/functions/camera.py
Due: mypy

feat: Add save / back buttons at top of page
  frontend/src/pages/CameraEditor.tsx
  frontend/src/pages/PresetEditor.tsx
Due: typecheck

fix: Make expandable default to open
  frontend/src/components/Expandable.tsx
  frontend/src/pages/PresetEditor.tsx
Due: typecheck

feat: Add button to import controls from camera
  frontend/src/components/ControlsEditor.tsx
  frontend/src/pages/CameraEditor.tsx
Due: typecheck

feat: Add spinner to autofocus button
  frontend/src/components/ControlsEditor.tsx
  ptz_app/functions/camera.py
Due: mypy, typecheck

feat: Set default `order` value
  frontend/src/pages/PresetEditor.tsx
  ptz_app/templates/ptz_app/preset.html
  ptz_app/views/presets.py
Due: mypy, typecheck

feat: Add arrow buttons to adjust camera position
  frontend/src/components/PanTiltSelector.tsx
Due: typecheck

chore: Make preset icons smaller
  frontend/src/pages/CameraList.tsx
Due: typecheck

feat: Add green border around last used preset
  frontend/src/pages/CameraList.tsx
Due: typecheck

docs: Add links to install Python and pipx
  README.md
Due: none

0.4.0
  pyproject.toml
Due: none
