Repository nathantheinventor/ptz-control-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.3.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    # We do not use pre-commit/mirrors-mypy,
    # as it comes with opinionated defaults
    # (like --ignore-missing-imports)
    # and is difficult to configure to run
    # with the dependencies correctly installed.
    hooks:
      - id: mypy
        name: mypy
        entry: 'mypy'
        language: python
        # use your preferred Python version
        language_version: python3.11
        types: [python]
        # use require_serial so that script
        # is only called once per commit
        require_serial: true
        # Print the number of files as a sanity-check
        verbose: true
      - id: typecheck
        name: typecheck
        entry: "bash -c 'cd frontend && npx tsc --noEmit'"
        language: node
        exclude: ^frontend/node_modules/
        files: ^frontend/.*\.tsx?$
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        args: [-c, frontend/.eslintrc.cjs, --fix]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--config, frontend/package.json, --write]

chore: Migrate models
  ptz_app/migrations/0003_remove_camerasettings_aperture_and_more.py
Due: mypy

fix: Include id on camera settings JSON
  ptz_app/models.py
Due: mypy

chore: Remove TODO comment
  ptz_app/models.py
Due: mypy

docs: Update frontend README
  frontend/README.md
Due: none

fix: Use correct URL / headers
  frontend/src/components/SettingsEditor.tsx
  frontend/src/pages/CameraEditor.tsx
Due: typecheck

feat: Set zoom and focus ranges / fetch current position for new presets
  frontend/src/components/ControlsEditor.tsx
  frontend/src/pages/PresetEditor.tsx
  frontend/src/util/csrf.ts
Due: typecheck

feat: Create new component to manage pan / tilt
  frontend/src/components/ControlsEditor.tsx
  frontend/src/components/PanTiltSelector.tsx
Due: typecheck

refactor: Separate build step into its own npm script
  frontend/package.json
Due: none

feat: Make packaging process fully functional
  .gitignore
  frontend/package.json
  ptz_project/settings.py
  pyproject.toml
Due: mypy

ci: Create codequality job in GitHub actions
  .github/workflows/codequality.yml
Due: none

ci: Make `uses` and `run` separate keys
  .github/workflows/codequality.yml
Due: none

ci: Run in container more properly
  .github/workflows/codequality.yml
Due: none

ci: Use proper directory for bin files
  .github/workflows/codequality.yml
Due: none

ci: Install git
  .github/workflows/codequality.yml
Due: none

debug: Print working directory
  .github/workflows/codequality.yml
Due: none

debug: Print local files
  .github/workflows/codequality.yml
Due: none

debug: Print pre-commit log
  .github/workflows/codequality.yml
Due: none

debug: Mark CI directory safe
  .github/workflows/codequality.yml
Due: none

ci: Enable full codequality workflow
  .github/workflows/codequality.yml
Due: none

ci: Remove debugging
  .github/workflows/codequality.yml
Due: none

ci: Add job to publish to PyPI
  .github/workflows/deploy.yml
  poetry.lock
  pyproject.toml
Due: none

ci: `poetry build`, not `poetry run build`
  .github/workflows/deploy.yml
Due: none

ci: Set up OIDC connection to PyPI
  .github/workflows/deploy.yml
Due: none

ci: Combine into single `workflow.yml` file
  .github/workflows/codequality.yml
  .github/workflows/deploy.yml
  .github/workflows/workflow.yml
Due: none

ci: Properly detect main branch
  .github/workflows/workflow.yml
Due: none

ci: Run PyPI release after build
  .github/workflows/workflow.yml
Due: none

fix: Update project name
  pyproject.toml
Due: none

ci: Build frontend
  .github/workflows/workflow.yml
Due: none

0.1.1
  pyproject.toml
Due: none

chore: Limit focus to 4096
  frontend/src/components/ControlsEditor.tsx
Due: typecheck

feat: Make range selector wider and add plus / minus buttons
  frontend/src/components/RangeSelector.tsx
Due: typecheck

fix: Multiple bugfixes
  ptz_app/functions/camera.py
Due: mypy

0.1.2
  pyproject.toml
Due: none

ci: Don't run on tags
  .github/workflows/workflow.yml
Due: none

style: Make text on preview white
  frontend/src/App.tsx
  frontend/src/pages/CameraList.tsx
Due: typecheck

refactor: Remove red / blue gain in favor of color temperature
  frontend/src/components/SettingsEditor.tsx
  frontend/src/util/types.ts
  ptz_app/functions/camera.py
  ptz_app/migrations/0004_remove_camerasettings_blue_gain_and_more.py
  ptz_app/models.py
  ptz_app/views/cameras.py
  ptz_app/views/presets.py
Due: mypy, typecheck

fix: Read from socket after sending command
  ptz_app/functions/camera.py
Due: mypy

chore: Speed up scroll on pan/tilt selector
  frontend/src/components/PanTiltSelector.tsx
Due: typecheck
